/* Variable de css */
/* -Son Valores reutilizables definidos mediante la sintaxis "--nombre-variable". 
   -permiten centralizar
*/

/* Selector :root */
/* - :root es un pseudo-clase que selecciona el elemento raiz del documento (html).
   - Es util
   - Tambien puedes declarar variables en otros selectores de clases
*/

:root{
    --color-primario : #007bff;
    --color-backgroun: #f4f4f9;
    --color-acentos: #e3f2fd;
    --color-bordes:  #ddd;
    --color-texto: #333;
    --color-secundario: #fff;
    



}

/* Reset Basico */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-backgroun);
    color: #333;
    line-height: 1.8;
}

header{
    text-align: center;
    background-color: var(--color-primario);
    color: #fff;
    padding: 20px;
}

section{
    /* Los valores son tres separados cad uno 
     el grozor del borde
     el tipo de estilo
     el color */
    border: 3px solid var(--color-bordes);
    background-color: var(--color-primario);
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
}

h2{
    color: var(--color-primario);
}

.box{
    background-color: var(--color-acentos);
    border: 1px solid var(--color-primario);
    margin: 10px auto;
    /* El valor auro en la propiedad de margin hace que el navegador calcule
    automaticamente el espacio necesario para centrar un elemento dentro de su contenedor padre
    siempre que el elemento tenga un ancho definido. Esta manera de centrar los elementos solo aplica de manera 
    horizontal  */
    padding: 10px;
    text-align: center;
}

.block{
    display: block;
    width: 150px;
    height: 30px;
}

.inline{
    display: block;
    width: 150px;
    height: 30px;
    /* widht y height son ignorados porque los elementos inline no respetan esta propiedad */
}

.inline-block{
    display: inline-block;
    width: 150px;
    height: 30px;
    /* widht y height son ignorados porque los elementos inline no respetan esta propiedad */
}

.model{
    padding: 20px;
    border: 10px solid var(--color-primario);
    margin: 20px;


}

.content-box{
    box-sizing: content-box;
    margin: 10px;
    padding: 20px;
    border: 10px solid var(--color-primario);
    background-color: var(--color-acentos);
    width: 200px;
}

.border-box{
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: 10px solid var(--color-primario) ;
    background-color: var(--color-acentos);
    width: 200px;
}