/* Reset Basico */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header{
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

section{
    /* Los valores son tres separados cad uno 
     el grozor del borde
     el tipo de estilo
     el color */
    border: 3px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
}

h2{
    color: #007bff;
}

.box{
    background-color: #e3f2fd;
    border: 1px solid #007bff;
    margin: 10px auto;
    /* El valor auro en la propiedad de margin hace que el navegador calcule
    automaticamente el espacio necesario para centrar un elemento dentro de su contenedor padre
    siempre que el elemento tenga un ancho definido. Esta manera de centrar los elementos solo aplica de manera 
    horizontal  */
    padding: 10px;
    text-align: center;
}

.block{
    display: block;
    width: 150px;
    height: 30px;
}

.inline{
    display: block;
    width: 150px;
    height: 30px;
    /* widht y height son ignorados porque los elementos inline no respetan esta propiedad */
}

.inline{
    display: inline-block;
    width: 150px;
    height: 30px;
    /* widht y height son ignorados porque los elementos inline no respetan esta propiedad */
}